<div class="container">
  <h1>New Article</h1>
  <%= form_with model: @article do |form| %>
  <div class="card">
    <div class="card-body">
    <div class="mb-3">
      <%= form.label "title" %>
      <%= form.text_field :title, {class: "form-control"} %>
    </div>
    <div class="mb-3">
      <%= form.label "content" %>
      <%= form.text_field :content, {class: "form-control"} %>
    </div>

    <%= form.submit %>

    </div>
  </div>
  <% end %>
  <%= link_to "Back", articles_path %>
</div>
